<launch>
    <arg name="record_walker" default="false"/>

     
    <node pkg="walker" name="walker" type="walker" output="screen" />
   
    
     <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">   

       
    
     </include>
   

 
     <node  pkg="rosbag" name="record" type="record" args="-a -O walker.bag -x /camera/(.*)" if="$(arg record)"/>

</launch>



